/* Generic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    line-height: 1.5;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-self: center;
    font-family: "Smythe", system-ui, sans-serif;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
  }
  
  button,
  input,
  textarea,
  select {
    font: inherit;
    outline: none;
    border: none;
    background: none;
  }

  .internal-wrapper {
    max-width: 508px;
    width: 100%;
    margin: 0 46px;
  }

  .price {
    line-height: 24px;
    font-size: 20px;
    color:#000000;
  }

  .not-visible {
    display: none !important;
  }

  main {
    width: 100%;
  }

  .header {
    display: grid;
    position: relative; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    margin-bottom: 67px;
  }
  
  .header img {
    grid-column: 1 / -1; 
    grid-row: 1 / -1;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 1;
  }

  .header .text {
    grid-column: 1 / -1; 
    grid-row: 1 / -1; 
    color: #FFFFFF; 
    z-index: 2;
    position: relative;
    align-self: center;
  }

  .header .text .title{
    line-height: 24px;
    font-size: 39px;
    margin-bottom: 19px;
  }

  .header .text .subtitle{
    line-height: 13.8px;
    font-size: 22.42px;
  }
  
  
  .menu-list {
    margin-bottom: 45px;
  }
  
  .menu-list .element {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 3fr 1fr;
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;
  }
  
  .menu-list .element .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-list .element .container .emoji {
    font-size: 78.72px;
  }
  
  .menu-list .element .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-list .element .info .name {
    line-height: 16.8px;
    font-size: 28px;
    color:#000000;
    margin-bottom: 8.8px;
  }
  
  .menu-list .element .info .ingredients {
    line-height:24px;
    font-size: 16px;
    color:#8B8B8B;
    margin-bottom: 8px;
  }

  .menu-list .element .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-list .element .button .add-to {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    cursor: pointer;
    border: 1px solid #DEDEDE;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  .menu-list .element .button .add-to:hover {
    background-color: #DEDEDE;
  }
  
  .order {
    display: flex;
    flex-direction: column;
    color: #000000;
  }
  
  .order .title {
    align-self: center;
    line-height: 16.8px;
    font-size: 28px;
    color:#000000;
    margin-bottom: 62px;
  }
  
  .order .order-list {
    padding-bottom: 31px;
    border-bottom: 2px solid #000000;
    margin-bottom: 14px;
  }
  
  .order .order-list .element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  
  .order .order-list .element .name {
    line-height: 16.8px;
    font-size: 28px;
    color:#000000;
    display: flex;
    align-items: center;
  }

  .order .order-list .element .name .remove-container {
    line-height: 16.8px;
    font-size: 28px;
    color:#000000;
  }

  .order .order-list .element .name .remove-container .remove{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #BBBBBB;
    margin: 0 13px;
    cursor: pointer;
  }
  
  .order .total {
    display: flex;
    justify-content: space-between;
  }
  
  .order .total .title {
    line-height: 24px;
    font-size: 28px;
    color:#000000;
  }
  
  .order .button-container {
    width: 100%;
    background-color: #16DB99;
    display: flex;
    cursor: pointer;
    margin-bottom: 53px;
  }
  
  .order .button-container .complete {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    max-width: 139px;
    margin: 0 auto;
    padding: 18px 0;
    width: 100%;
    cursor: pointer;
  }
  
  .modal {
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    z-index: 1;
    box-shadow: 5px 5px 100px #757575;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .modal .title {
    color: #000000;
    font-weight: bold;
    margin-bottom: 46px;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .modal form input[type="text"] {
    padding: 16px 26px;
    margin-bottom: 23.22px;
    border: 1px solid #757575;
    color: #757575;
    width: 100%;
  }

  .modal form input[type="text"]:last-child {
    margin-bottom: 46px;
  }
  
  .modal form .button-container {
    width: 100%;
    background-color: #16DB99;
    display: flex;
    color: #FFFFFF;
  }

  .modal form .button-container .pay {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 18px 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  
  